streamlit
google-play-scraper
sentence-transformers
tensorflow
scikit-learn
nltk
textblob
matplotlib
huggingface-hub
# add this fix 👇
tf-keras
# optional: pin keras to a lower version if needed
keras==2.15.0
